#search{
    border: none;
    background-color: #EFEFEF;
}
#input{
    width: 400px;
    height: 50px;
}
.tag{
    color:#2E266F;
    font-size: 30px;
}
.subs{
    background-color: #EFC81A;
    float: right;
    height: 600px;
    width: 300px;
    margin-top: -470px;
    color: transparent;
}
.img{
    margin-left: 100px;
}
.bg-sub{
    background-color: #EFC81A;  
    height: 60px;
    width: 15px;
    color: transparent;
}
.title-sub{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 25px;
}
.box{
    border: 2px solid #EFC81A;
    
    height:350px ;
    border-radius: 5px;
    color: transparent;
    margin-top: -300px;
    margin-left: 50px;
}
.box-img{
    background-size: cover;
    width: 300px;
    height: 400px;
}
.title{
    width: 250px;
    margin-top: 140px;
}
.box2{
    height: 300px;
    background-color: #EFC81A;
    margin-top: -380px;
    width: 200px;
}
.sub-cover{
    height: 400px;
}
@media (min-width: 1199.98px) { 
    .tag2{
        display: none;
    }
    .main-img3{
        display: none;
    }
 }
@media (max-width: 576px) {
    #img-title{
        display: none;
    }
    .tag{
        display: none;
    }
    .sub-title1{
        width: 300px !important;
        
    }
    .tag2{
        font-size: 30px;
        margin-bottom: 30px;
    }
    #input{
        width: 320px;
        margin-left: 10px;
    }
    .subs-tag{
        width: 250px;
    }
    .boxs-img img{
        width: 300px;
        margin-top: 20px;
        margin-left: -30px;
    }
    .box{
        display: none;
    }
    .title{
        margin-top: 50px;
        margin-left: 50px;
    }
    .title2{
        margin-left: 50px;
    }
    .box2{
        display: none;
    }
    .sub-cover{
        margin-left: 0;
    }
    .sub-cover img{
        width: 300px;
        margin-top: 20px;
        margin-left: 20px !important;
        
        
    }
    .main-img3{
        margin-left: 10px;
    }
    .main-img2{
        display: none;
    }
    .sub-cover{
        margin-bottom: -90px;
    }
    #btn-caro{
        margin-right: 20px;
        
    }
}